spring:
  application:
    name: demo-spring
  
  # Oracle Database Configuration
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/XEPDB1
    username: DUC_PT
    password: Truongtramy99@
    driver-class-name: oracle.jdbc.OracleDriver
  
  # JPA/Hibernate Configuration
  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha

